.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

form{
  width: 40%;
}

at-card-header{
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.mainDiv{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}